 .border1{
     height: 920px;
     background-color: #A4A4A4;
 }
 .border2{
     height: 920px;
 }
 .border3{
     height: 100px;
     max-height: 1000px;
 }
 .border4{
     height: 700px;
     border:0.5px solid black;
 }
 .border5{
     min-height: 100px;
     max-height: 1000px;
 }
 .border6{
     padding-top: 10px;
     height: 120px;
      border-bottom:0.5px solid black;
 }
 .apttitle{
     height: 50px;
     text-align: center;
     border-bottom:0.5px solid black;
 }
 .loctitle{
     height: 50px;
     text-align: center;
 }
 .border8{
     min-height: 750px;
     max-height: 1000px;
 }
 .border9{
     min-height: 150px;
     margin-left: 4px;
 }
 .border10{
     height: 150px;
     width: 144px;
     float : left;
     padding: 10px;
 }
 .pimage{
     height: 130px;
     background-color: dimgrey;
 }
 .bimage{
     margin: 10px;
     height: 130px;
 }
 .header{
     height: 50px;
     text-align: center;
 }
 .infoimage{
     height: 400px;
     width: 400px;
 }
 .infotext{
     margin-top: 20px;
     height: 100px;
     width: 400px;
 }
 .center{
     margin-left: 80px;
 }
 .text_center{
     text-align: center;
 }
 .bimage img{
     width: 100%;
     height: 100%;
 }
 .aptname{
     padding-top: 10px;
     font-size: 20px;
 }
 .pname{
     padding-top: 5px;
     font-size: 30px;
 }
 .menubutton{
     height: 50px;
     width: 58px;
     font-size: 30px;
 }
 .msgbutton{
     height: 100px;
     width: 58px;
     font-size: 30px;
 }
 .setting{
     height: 20px;
     width: 85px;
     float: right;
     margin-bottom: 2px;
 }
 .settingdiv{
     margin-top: 4px;
     float: right;
     width: 85px;
 }
 .header{
     height: 50px;
     text-align: center;
 }
 .left{
     height: 920px;
     border-right: 3px solid black;
 }
 .right{
     height: 920px;
 }
 .up{
     height: 100px;
 }
 .middle{
     height: 750px;
 }
 .down{
     height: 70px;
     text-align: center;
 }
 .ptable {
     height: 750px;
   }
 .upwrap2{
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 5px;
 }
 .upwrap1{
     text-align: center;
 }
 .inputsize{
     width: 100px;
 }
 .title{
     padding-top: 100px;
     height: 300px;
     text-align: center;
     font-size: 100px;
 }
 .inputpw{
     text-align: center;
 }
 .adminpw{
     height: 100px;
     width: 800px;
     font-size: 60px
 }
 .btnsize{
     height: 100px;
     width: 800px;
     font-size: 60px;
 }
.infotitle{
    padding-top: 50px;
    height: 200px;
    text-align: center;
    font-size: 100px;
}
.infobtnsize{
    height: 60px;
    width: 200px;
    font-size: 30px;
}
.infoinput{
    font-size: 20px;
    resize: none;
}
